src/main/webapp/dateplanner/dateplanner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.han.nl/schemas/dateplanner"
        xmlns:tns="http://www.han.nl/schemas/dateplanner"
        elementFormDefault="qualified">

    <complexType name="DateOptions">
        <sequence>
            <element name="location" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="radius" type="decimal" minOccurs="1" maxOccurs="1"></element>
            <element name="daypart" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="restaurantType" type="string" minOccurs="1" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>

    <complexType name="ForecastType">
        <sequence>
            <element name="temperature" type="float"></element>
            <element name="rain" type="boolean"></element>
            <element name="snow" type="boolean"></element>
            <element name="clouds" type="float"></element>
        </sequence>
    </complexType>

    <complexType name="WeatherDataType">
        <sequence>
            <element name="forecast" type="tns:ForecastType" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>

    <complexType name="RestaurantDataType">
        <sequence>
            <element name="name" type="string"></element>
            <element name="id" type="string"></element>
            <element name="placeId" type="string"></element>
            <element name="type" type="string" minOccurs="0" maxOccurs="unbounded"></element>
            <element name="vicinity" type="string"></element>
            <element name="openingHours" type="string" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>

    <complexType name="DateDataType">
        <sequence>
            <element name="weatherData" type="tns:WeatherDataType"></element>
            <element name="restaurantData" type="tns:RestaurantDataType"></element>
            <element name="date" type="dateTime"></element>
        </sequence>
    </complexType>

    <element name="DateplannerRequest">
        <complexType>
            <sequence>
                <element name="input" type="tns:DateOptions" minOccurs="1" maxOccurs="1"></element>
            </sequence>
        </complexType>
    </element>

    <element name="DateplannerResponse">
        <complexType>
            <sequence>
                <element name="result" type="tns:DateDataType" minOccurs="0"></element>
            </sequence>
        </complexType>
    </element>

</schema>
