src/main/webapp/dateplanner/dateplanner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.han.nl/schemas/dateplanner"
        xmlns:tns="http://www.han.nl/schemas/dateplanner"
        elementFormDefault="qualified">

    <complexType name="LocationType">
        <sequence>
            <element name="longitude" type="decimal"/>
            <element name="latitude" type="decimal"/>
            <element name="city" type="string"/>
        </sequence>
    </complexType>

    <complexType name="RadiusType">
        <sequence>
            <element name="radius" type="decimal"/>
        </sequence>
    </complexType>

    <complexType name="DateOptions">
        <sequence>
            <element name="location" type="tns:LocationType" minOccurs="1" maxOccurs="1"></element>
            <element name="radius" type="tns:RadiusType" minOccurs="1" maxOccurs="1"></element>
        </sequence>
    </complexType>

    <complexType name="WeatherDataType">
        <sequence>
            <element name="location" type="string"></element>
            <element name="astronomy" type="string"></element>
            <element name="forecast" type="decimal"></element>
        </sequence>
    </complexType>

    <complexType name="RestaurantDataType">
        <sequence>
            <element name="name" type="string"></element>
            <element name="location" type="string"></element>
            <element name="id" type="string"></element>
            <element name="type" type="string" minOccurs="1"></element>
            <element name="vicinity" type="string"></element>
            <element name="openingHours" type="string"></element>
        </sequence>
    </complexType>

    <complexType name="DateDataType">
        <sequence>
            <element name="weatherData" type="tns:WeatherDataType"></element>
            <element name="restaurantData" type="tns:RestaurantDataType"></element>
            <element name="date" type="dateTime"></element>
        </sequence>
    </complexType>

    <element name="DateplannerRequest">
        <complexType>
            <sequence>
                <element name="input" type="tns:DateOptions" minOccurs="1" maxOccurs="1"></element>
            </sequence>
        </complexType>
    </element>

    <element name="DateplannerResponse">
        <complexType>
            <sequence>
                <element name="result" type="tns:DateDataType" minOccurs="0"></element>
            </sequence>
        </complexType>
    </element>

</schema>
